body{
	border-style: solid;
	border-color: #003049;
	border-width: 10px;
}
#Div1{
	padding: 5px 5px 5px;
	background-color: #F77F00;
	margin-left: auto;
	color: #EAE2B7;
}
#Div2{
	background-color: #D62828;
	padding: 10px 10px 10px;
	margin-left: auto;
	color: #003049;
}
#h1{
	font-family: Scramento;
	color: white;
	text-shadow: whitesmoke;
}
ul{
	font-family: Alice;
	color: Yellow;
}
img{
	border-style: inset;
	border-color: #003049;
	border-width: 5px;
}